body {
  margin: 0;
  padding: 0;

  /*font-family: 'Fjalla One', sans-serif;*/
  font-family: 'Source Sans Pro', sans-serif;
}

a, a:active, a:hover, a:visited {
  color: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

.container {
  display: -webkit-flex;
  display:         flex;
}

.container-center {
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
}

.scotland {
  min-height: 80vh;

  background: url("/images/scotland.jpg") no-repeat center center;
  background-size: cover;

  color: white;
  text-align: center;
}

.header {
  padding: 10px 10px 30px 10px;
}

.page-header {
  border-bottom: 5px solid #fff;
  margin-bottom: 0;
  padding-bottom: 5px;

  font-family: 'Marck Script', cursive;
  font-size: 80px;
  text-shadow: 2px 2px 2px #000;
}

@media (max-width: 600px) {
  .page-header {
    font-size: 64px;
    text-shadow: 1px 1px 1px #000;
  }
}

.page-tagline {
  margin-bottom: 3em;
  margin-top: 0.2em;

  font-size: 28px;
  text-align: right;
}

@media (max-width: 600px) {
  .page-tagline {
    font-size: 24px;
    text-align: center;
  }
}

.page-subheader {
  font-size: 26px;
  /*text-transform: uppercase;*/
}

@media (max-width: 600px) {
  .page-subheader {
    font-size: 20px;
  }
}

.register-interest a {
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid #fff; /*#452c49;*/
  padding: 5px 10px;

  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.1vw;
  text-transform: uppercase;
}

.register-interest a, .register-interest a:visited {
  color: #452c49;
}

@media (max-width: 600px) {
  .register-interest a {
    padding: 5px;

    font-size: 14px;
  }
}

.scotland a {
  text-decoration: none;
  color: #fff;
}

.about {
  width: 100%;
}

.about h2 {
  background-color: rgba(69, 44, 73, 0.8);
  border-bottom: 5px solid #452c49;
  margin-top: 0;
  padding: 40px 0;

  color: #fff;
  font-size: 48px;
  letter-spacing: 0.1vw;
  text-align: center;
}

@media (max-width: 600px) {
  .about h2 {
    font-size: 36px;
  }
}

.about h5 {
  padding: 10px;
  margin: 0 auto;
  width: 60%;
  font-size: 24px;
}

.about p {
  padding: 10px;
  margin: 0 auto;
  width: 60%;

  font-size: 20px;
  font-weight: lighter;
}

@media (max-width: 600px) {
  .about p {
    padding: 5px;
    width: 95%;

    font-size: 16px;
  }

  .about h5 {
    padding: 5px;
    width: 95%;

    font-size: 18px;
  }
}

.social {
  margin-top: 50px;
}

.social-links {
  padding: 10px;
  position: relative;
  margin: 0 auto;
  width: 60%;
}

@media (max-width: 600px) {
  .social-links {
    padding: 5px;
    width: 95%;
  }
}

.social-links img {
  width: 50px;
}

@media (max-width: 600px) {
  .social-links img {
    width: 30px;
  }
}

img.railscamp-yield {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100px;
}

.social-links img:hover {
  transform: scale(1.2);
}

@media (max-width: 600px) {
  img.railscamp-yield {
    width: 50px;
  }
}
