body {
  background: #fdfdfe;
  color: #242f54;
  font-family: 'Source Sans Pro', sans-serif;
}

a {
  text-decoration: none;
}

.scotland {
  background: url("/images/scotland.jpg") no-repeat center center;
  background-size: cover;
  min-height: 35vh;
  display: -webkit-flex;
  display:         flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
  color: #fdfdfe;
  text-align: center;
}

.header {
  padding: 1em;
}

.page-header {
  border-bottom: 1px solid #fdfdfe;
  padding-bottom: 5px;
  font-family: 'Marck Script', cursive;
  font-size: 40px;
  margin: 0;
}

.page-tagline {
  margin-bottom: 3em;
  margin-top: 0.5em;
  font-size: 22px;
  font-weight: normal;
  letter-spacing: 0.03em;
}

.register-interest a {
  display: inline-block;
  border: 2px solid #fdfdfe;
  border-radius: 3px;
  padding: .5em 1em;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.07em;
  text-transform: uppercase;
}
.register-interest a:link, .register-interest a:visited {
  color: #fdfdfe;
}
.register-interest a:active, .register-interest a:hover, .register-interest a:focus {
  background-color: rgba(255,255,255,0.2);
}

@media (min-width: 500px) {
  .page-header {
    font-size: 50px;
  }
  .page-tagline {
    font-size: 24px;
  }
  .register-interest a {
    font-size: 22px;
  }
}
@media (min-width: 700px) {
  .scotland {
    min-height: 45vh;
  }
  .page-header {
    font-size: 70px;
    border-bottom-width: 2px;
  }
  .page-tagline {
    font-size: 28px;
  }
  .register-interest a {
    font-size: 24px;
  }
}
@media (min-width: 900px) {
  .scotland {
    min-height: 55vh;
  }
  .page-header {
    font-size: 80px;
  }
}

.about {
  margin: 2em auto 0;
  width: 90%;
}

.about a {
  border-bottom: 1px solid currentColor;
}
.about a:link {
  color: #2a487c;
}
.about a:visited, .about a:active, .about a:hover, .about a:focus {
  color: inherit;
}

.about h3 {
  color: #2a487c;
  font-size: 22px;
}

.about p {
  font-size: 18px;
  line-height: 1.5em;
  font-weight: lighter;
  text-align: justify;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

@media (min-width: 600px) {
  .about h3 {
    font-size: 24px;
  }
  .about p {
    font-size: 20px;
  }
}

@media (min-width: 1000px) {
  .about, .social {
    width: 70%;
    max-width: 800px;
  }
}

.social {
  margin: 3em auto 2em;
  position: relative;
  width: 90%;
}

.social img {
  width: 50px;
}
.social img:hover {
  transform: scale(1.2);
}

.social .railscamp-yield {
  float: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 80px;
}
