body {
  background: #fdfdfe;
  color: #242f54;
  font-family: 'Source Sans Pro', sans-serif;
}

a {
  text-decoration: none;
}

.scotland {
  background: url("/images/scotland.jpg") no-repeat center center;
  background-size: cover;
  color: #fdfdfe;
  text-align: center;
}

.scotland > div {
  display: inline-block;
  margin: 4rem 1.5rem;
}

h1 {
  padding-bottom: .6rem;
  margin: 0;
  font-weight: 300;
  font-size: 2.0rem;
  border-bottom: 1px solid rgba(252, 252, 254, 0.8);
}

h2 {
  margin-bottom: 3.5rem;
  margin-top: .6rem;
  font-size: 1.4rem;
  font-weight: 300;
  font-style: italic;
  letter-spacing: 0.03em;
}

.register-interest {
  display: block;
  border: 3px solid rgba(252, 252, 254, 0.9);
  border-radius: .5rem;
  margin: 0 1.5rem;
  padding: .7em 1em;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.2rem;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  line-height: 1.5em;
  transition: background .5s;
}
.register-interest:link, .register-interest:visited {
  color: #fdfdfe;
}
.register-interest:active, .register-interest:hover, .register-interest:focus {
  background-color: rgba(31, 54, 106, .2);
}

@media (min-width: 400px) {
  h1 {
    font-size: 2.3rem;
  }
}
@media (min-width: 500px) {
  .scotland > div {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
  h1 {
    font-size: 2.7rem;
  }
  h2 {
    font-size: 1.6rem;
  }
  .register-interest {
    font-size: 1.2rem;
  }
}
@media (min-width: 700px) {
  .scotland > div {
    margin-top: 6rem;
    margin-bottom: 6rem;
  }
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 1.8rem;
    margin-bottom: 4.5rem;
  }
  .register-interest {
    font-size: 1.4rem;
  }
}
@media (min-width: 850px) {
  .scotland > div {
    margin-top: 7rem;
    margin-bottom: 7rem;
  }
  h1 {
    font-size: 4rem;
  }
}
/*@media (min-width: 1000px) {
  .scotland > div {
    margin-top: 8rem;
    margin-bottom: 8rem;
  }
  h1 {
    font-size: 4.5rem;
  }
  h2 {
    font-size: 1.9rem;
    margin-bottom: 5rem;
  }
  .register-interest {
    font-size: 1.5rem;
  }
}
*/

.about {
  margin: 2rem 1.5rem;
}

.about a {
  border-bottom: 1px solid currentColor;
}
.about a:link {
  color: #2a487c;
}
.about a:visited, .about a:active, .about a:hover, .about a:focus {
  color: inherit;
}

.about h3 {
  color: #2a487c;
  font-weight: 600;
}

.about p {
  line-height: 1.5em;
  text-align: justify;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

@media (min-width: 500px) {
  .about h3 {
    font-size: 1.5rem;
  }
  .about p {
    font-size: 1.1rem;
  }
}
@media (min-width: 700px) {
  .about, .social {
    margin-left: 5%;
    margin-right: 5%;
  }
}
@media (min-width: 900px) {
  .about {
    margin-top: 3rem;
  }
  .about, .social {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    max-width: 50rem;
  }
  .about h3 {
    font-size: 1.7rem;
    font-weight: 400;
  }
  .about p {
    font-size: 1.2rem;
    font-weight: 300;
  }
}
@media (min-width: 1000px) {
  .about h3 {
    font-size: 1.8rem;
  }
  .about p {
    font-size: 1.3rem;
  }
}

.social {
  margin: 3em auto 2em;
  position: relative;
  width: 90%;
}

.social img {
  width: 50px;
}
.social img:hover {
  transform: scale(1.2);
}

.social .railscamp-yield {
  float: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 80px;
}
