body {
  margin: 0;
  padding: 0;

  font-family: 'Fjalla One', sans-serif;
}

a, a:active, a:hover, a:visited {
  color: inherit;
}

.container {
  display: -webkit-flex;
  display:         flex;
}

.container-center {
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
}

.scotland {
  min-height: 100vh;

  background: url("/images/scotland.jpg") no-repeat center center;
  background-size: cover;

  color: white;
  text-align: center;
}

.header {
  padding: 10px 10px 30px 10px;
}

.page-header {
  border-bottom: 5px solid #fff;
  margin-bottom: 0;
  padding-bottom: 15px;

  font-family: 'Marck Script', cursive;
  font-size: 80px;
  text-shadow: 2px 2px 2px #000;
}

@media (max-width: 600px) {
  .page-header {
    font-size: 64px;
    text-shadow: 1px 1px 1px #000;
  }
}

.page-subheader {
  margin-top: 2em;

  font-size: 48px;
  font-weight: normal;
  letter-spacing: 0.6vw;
  /*text-transform: uppercase;*/
}

@media (max-width: 600px) {
  .page-subheader {
    font-size: 36px;
  }
}

.register-interest {
  background-color: rgba(69, 44, 73, 0.8);
  border: 1px solid #452c49;
  padding: 10px;

  font-size: 18px;
  letter-spacing: 0.1vw;
}

@media (max-width: 600px) {
  .register-interest {
    padding: 5px;

    font-size: 14px;
  }
}

.scotland a {
  text-decoration: none;
  color: #fff;
}

.about {
  width: 100%;
}

.about h2 {
  background-color: rgba(69, 44, 73, 0.8);
  border-bottom: 5px solid #452c49;
  margin-top: 0;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  font-size: 48px;
  color: #fff;
  letter-spacing: 0.1vw;
}

.about p {
  padding: 10px;
  margin: 0 auto;
  width: 60%;
  font-size: 20px;
}

@media (max-width: 600px) {
  .about p {
    padding: 5px;
    width: 95%;

    font-size: 14px;
  }
}

.social {
  margin-top: 50px;
}

.social-links {
  padding: 10px;
  position: relative;
  margin: 0 auto;
  width: 60%;
}

@media (max-width: 600px) {
  .social-links {
    padding: 5px;
    width: 95%;
  }
}

.social-links img {
  width: 50px;
}

@media (max-width: 600px) {
  .social-links img {
    width: 30px;
  }
}

img.railscamp-yield {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100px;
}

img.railscamp-yield:hover {
  transform: scale(1.2);
}

@media (max-width: 600px) {
  img.railscamp-yield {
    width: 50px;
  }
}
